.page {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    background-color: hsl(0, 0%, 100%);
    margin: 1rem;
    min-width: 21.5rem;
    min-height: 30.35rem;
    margin-top: 5.5rem;
    border-radius: 1.5rem 1.5rem 6.2rem 1.5rem;
}

button {
    background-color: hsl(259, 100%, 65%);
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    align-self: center;
    margin-top: -2rem;
    border-style: none;
    z-index: 1;
}

    button:hover {
        background-color: hsl(0, 0%, 8%);
    }

fieldset {
    display: grid;
    grid-template-columns: repeat(3, 5.5rem);
    justify-content: space-between;
    padding: 3rem 1.5rem;
    overflow: hidden;
    row-gap: 0.3rem;
}

.calculated-age {
    display: flex;
    flex-direction: column;
    padding: 2rem 1.5rem;
}

em {
    color: hsl(259, 100%, 65%);
    margin-right: 0.5rem;
    letter-spacing: -1px;
}

label {
    font-weight: bold;
    font-size: 11px;
    letter-spacing: 4px;
    color: hsl(0, 1%, 44%);
}

hr {
    color: hsl(0, 1%, 44%);
    margin: 1rem 1.5rem 0rem 1.5rem;
}

img {
    height: 1.5rem;
    width: 1.6rem;
}

span {
    font-family: 'Poppins Extra';
    font-weight: bold;
    font-style: italic;
    font-size: 56px;
    line-height: 3.85rem;
    letter-spacing: -0.5px;
}

@media (min-width: 55rem) {
    main {
        margin-top: 10.5rem;
        min-width: 52.5rem;
        min-height: 40.75rem;
        border-radius: 1.5rem 1.5rem 12rem 1.5rem;
    }

    fieldset {
        grid-template-columns: repeat(3, 10rem);
        justify-content: start;
        padding: 3.6rem 3.5rem 1rem;
        row-gap: 0.5rem;
        column-gap: 2rem;
    }

    hr {
        margin: 2rem 3.5rem;
    }

    label {
        font-size: 14px;
    }

    button {
        width: 6rem;
        height: 6rem;
        align-self: end;
        margin-top: -5rem;
        margin-right: 3.5rem;
    }

    img {
        height: auto;
        width: auto;
    }

    span {
        font-size: 104px;
        line-height: 6rem;
        margin-bottom: 1rem;
        letter-spacing: -1.5px;
        margin-bottom: 1.2rem;
    }

    .calculated-age {
        padding: 0.5rem 3.5rem;
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

        .top-row.auth ::deep a:first-child {
            flex: 1;
            text-align: right;
            width: 0;
        }
}
